<a href="https://colab.research.google.com/github/cheongseungkyu/make-it-happen/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import requests

In [10]:
import pandas as pd

In [11]:
!pip install gradio

Requirement already satisfied: gradio in /usr/local/lib/python3.7/dist-packages (2.9.1)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from gradio) (3.8.1)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from gradio) (7.1.2)
Requirement already satisfied: ffmpy in /usr/local/lib/python3.7/dist-packages (from gradio) (0.3.0)
Requirement already satisfied: python-multipart in /usr/local/lib/python3.7/dist-packages (from gradio) (0.0.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gradio) (2.23.0)
Requirement already satisfied: analytics-python in /usr/local/lib/python3.7/dist-packages (from gradio) (1.4.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from gradio) (1.3.5)
Requirement already satisfied: fastapi in /usr/local/lib/python3.7/dist-packages (from gradio) (0.75.1)
Requirement already satisfied: markdown-it-py[linkify,plugins] in /usr/local/lib/python3.7/dist-packages (from gradio) (2.0.1)
Requirement already satisfied: orjson in /usr/local/lib/python3.7/dist-packages (from gradio) (3.6.7)
Requirement already satisfied: uvicorn in /usr/local/lib/python3.7/dist-packages (from gradio) (0.17.6)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.7/dist-packages (from gradio) (3.14.1)
Requirement already satisfied: pydub in /usr/local/lib/python3.7/dist-packages (from gradio) (0.25.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from gradio) (3.2.2)
Requirement already satisfied: paramiko in /usr/local/lib/python3.7/dist-packages (from gradio) (2.10.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from gradio) (1.21.5)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (1.3.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (1.2.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (2.0.12)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (0.13.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (1.7.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (21.4.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (4.0.2)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (6.0.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->gradio) (3.10.0.2)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->gradio) (2.10)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (2.8.2)
Requirement already satisfied: backoff==1.10.0 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.10.0)
Requirement already satisfied: monotonic>=1.5 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from analytics-python->gradio) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gradio) (2021.10.8)
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from fastapi->gradio) (1.9.0)
Requirement already satisfied: starlette==0.17.1 in /usr/local/lib/python3.7/dist-packages (from fastapi->gradio) (0.17.1)
Requirement already satisfied: anyio<4,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from starlette==0.17.1->fastapi->gradio) (3.5.0)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.7/dist-packages (from anyio<4,>=3.0.0->starlette==0.17.1->fastapi->gradio) (1.2.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.7/dist-packages (from markdown-it-py[linkify,plugins]->gradio) (0.1.0)
Requirement already satisfied: linkify-it-py~=1.0 in /usr/local/lib/python3.7/dist-packages (from markdown-it-py[linkify,plugins]->gradio) (1.0.3)
Requirement already satisfied: mdit-py-plugins in /usr/local/lib/python3.7/dist-packages (from markdown-it-py[linkify,plugins]->gradio) (0.3.0)
Requirement already satisfied: uc-micro-py in /usr/local/lib/python3.7/dist-packages (from linkify-it-py~=1.0->markdown-it-py[linkify,plugins]->gradio) (1.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (1.4.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->gradio) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->gradio) (2018.9)
Requirement already satisfied: bcrypt>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from paramiko->gradio) (3.2.0)
Requirement already satisfied: pynacl>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from paramiko->gradio) (1.5.0)
Requirement already satisfied: cryptography>=2.5 in /usr/local/lib/python3.7/dist-packages (from paramiko->gradio) (36.0.2)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->gradio) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->gradio) (2.21)
Requirement already satisfied: h11>=0.8 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (0.13.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (7.1.2)
Requirement already satisfied: asgiref>=3.4.0 in /usr/local/lib/python3.7/dist-packages (from uvicorn->gradio) (3.5.0)

In [12]:
import gradio as gd

산림청 국립산림과학원_산불위험예보정보

산불위험지수(시도) 데이터 정보 조회

In [13]:
URL = ('http://apis.data.go.kr/1400377/forestPoint/'
      'forestPointListSidoSearch?'
      'serviceKey=INgUFCPLVXKA1R1IoOaejy9GNI%2BuFuWNZPPInGnjgr2XQQYmmq09MvpkvnykS3Hp5pd1TD1ysdH%2F1M5k9GghmQ%3D%3D'
      '&numOfRows=10'
      '&pageNo=1'
      '&localAreas=11,26,41'
      '&excludeForecast=0'
      '&_type=json')
response = requests.get(URL)

In [14]:
response

In [15]:
r = response.json()
r

{'response': {'body': {'items': {'item': [{'analdate': '2022-04-02 16',
      'area': '      60,571',
      'd1': 0,
      'd2': 12,
      'd3': 88,
      'd4': 0,
      'doname': '서울특별시',
      'maxi': 94,
      'meanavg': 74,
      'mini': 8,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-02 21',
      'area': '      60,571',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '서울특별시',
      'maxi': 44,
      'meanavg': 24,
      'mini': 13,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-03 00',
      'area': '      60,571',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '서울특별시',
      'maxi': 44,
      'meanavg': 23,
      'mini': 13,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-03 03',
      'area': '      60,571',
      'd1': 95,
      'd2': 5,
      'd3': 0,
      'd4': 0,
      'doname': '서울특별시',
      'maxi': 58,
      'meanavg': 38,
      'mini': 20,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-03 06',
      'area': '      60,571',
      'd1': 0,
      'd2': 61,
      'd3': 37,
      'd4': 1,
      'doname': '서울특별시',
      'maxi': 93,
      'meanavg': 65,
      'mini': 48,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-03 21',
      'area': '      60,571',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '서울특별시',
      'maxi': 44,
      'meanavg': 23,
      'mini': 13,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-04 00',
      'area': '      60,571',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '서울특별시',
      'maxi': 37,
      'meanavg': 23,
      'mini': 13,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-04 03',
      'area': '      60,571',
      'd1': 96,
      'd2': 4,
      'd3': 0,
      'd4': 0,
      'doname': '서울특별시',
      'maxi': 65,
      'meanavg': 34,
      'mini': 13,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-04 06',
      'area': '      60,571',
      'd1': 0,
      'd2': 27,
      'd3': 70,
      'd4': 3,
      'doname': '서울특별시',
      'maxi': 93,
      'meanavg': 70,
      'mini': 53,
      'regioncode': 11,
      'std': 5},
     {'analdate': '2022-04-02 16',
      'area': '      76,757',
      'd1': 56,
      'd2': 44,
      'd3': 0,
      'd4': 0,
      'doname': '부산광역시',
      'maxi': 79,
      'meanavg': 54,
      'mini': 8,
      'regioncode': 26,
      'std': 7},
     {'analdate': '2022-04-02 21',
      'area': '      76,757',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '부산광역시',
      'maxi': 51,
      'meanavg': 26,
      'mini': 13,
      'regioncode': 26,
      'std': 7},
     {'analdate': '2022-04-03 00',
      'area': '      76,757',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '부산광역시',
      'maxi': 44,
      'meanavg': 25,
      'mini': 13,
      'regioncode': 26,
      'std': 6},
     {'analdate': '2022-04-03 03',
      'area': '      76,757',
      'd1': 52,
      'd2': 41,
      'd3': 7,
      'd4': 0,
      'doname': '부산광역시',
      'maxi': 79,
      'meanavg': 51,
      'mini': 27,
      'regioncode': 26,
      'std': 7},
     {'analdate': '2022-04-03 06',
      'area': '      76,757',
      'd1': 0,
      'd2': 18,
      'd3': 77,
      'd4': 5,
      'doname': '부산광역시',
      'maxi': 93,
      'meanavg': 73,
      'mini': 51,
      'regioncode': 26,
      'std': 7},
     {'analdate': '2022-04-03 21',
      'area': '      76,757',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '부산광역시',
      'maxi': 44,
      'meanavg': 25,
      'mini': 13,
      'regioncode': 26,
      'std': 6},
     {'analdate': '2022-04-04 00',
      'area': '      76,757',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '부산광역시',
      'maxi': 37,
      'meanavg': 24,
      'mini': 13,
      'regioncode': 26,
      'std': 6},
     {'analdate': '2022-04-04 03',
      'area': '      76,757',
      'd1': 70,
      'd2': 28,
      'd3': 2,
      'd4': 0,
      'doname': '부산광역시',
      'maxi': 72,
      'meanavg': 46,
      'mini': 27,
      'regioncode': 26,
      'std': 6},
     {'analdate': '2022-04-04 06',
      'area': '      76,757',
      'd1': 0,
      'd2': 16,
      'd3': 75,
      'd4': 8,
      'doname': '부산광역시',
      'maxi': 93,
      'meanavg': 74,
      'mini': 50,
      'regioncode': 26,
      'std': 7},
     {'analdate': '2022-04-02 16',
      'area': '   1,016,147',
      'd1': 6,
      'd2': 29,
      'd3': 65,
      'd4': 0,
      'doname': '경기도',
      'maxi': 100,
      'meanavg': 72,
      'mini': 6,
      'regioncode': 41,
      'std': 7},
     {'analdate': '2022-04-02 21',
      'area': '   1,016,147',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '경기도',
      'maxi': 44,
      'meanavg': 22,
      'mini': 12,
      'regioncode': 41,
      'std': 5},
     {'analdate': '2022-04-03 00',
      'area': '   1,016,147',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '경기도',
      'maxi': 44,
      'meanavg': 22,
      'mini': 12,
      'regioncode': 41,
      'std': 5},
     {'analdate': '2022-04-03 03',
      'area': '   1,016,147',
      'd1': 99,
      'd2': 1,
      'd3': 0,
      'd4': 0,
      'doname': '경기도',
      'maxi': 65,
      'meanavg': 29,
      'mini': 12,
      'regioncode': 41,
      'std': 6},
     {'analdate': '2022-04-03 06',
      'area': '   1,016,147',
      'd1': 6,
      'd2': 66,
      'd3': 28,
      'd4': 0,
      'doname': '경기도',
      'maxi': 93,
      'meanavg': 61,
      'mini': 18,
      'regioncode': 41,
      'std': 6},
     {'analdate': '2022-04-03 21',
      'area': '   1,016,147',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '경기도',
      'maxi': 44,
      'meanavg': 22,
      'mini': 12,
      'regioncode': 41,
      'std': 5},
     {'analdate': '2022-04-04 00',
      'area': '   1,016,147',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '경기도',
      'maxi': 37,
      'meanavg': 22,
      'mini': 12,
      'regioncode': 41,
      'std': 5},
     {'analdate': '2022-04-04 03',
      'area': '   1,016,147',
      'd1': 100,
      'd2': 0,
      'd3': 0,
      'd4': 0,
      'doname': '경기도',
      'maxi': 58,
      'meanavg': 27,
      'mini': 12,
      'regioncode': 41,
      'std': 6},
     {'analdate': '2022-04-04 06',
      'area': '   1,016,147',
      'd1': 3,
      'd2': 47,
      'd3': 49,
      'd4': 1,
      'doname': '경기도',
      'maxi': 93,
      'meanavg': 66,
      'mini': 18,
      'regioncode': 41,
      'std': 6}]},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 27},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

http://jsonviewer.stack.hu/

In [16]:
print(type(r))

<class 'dict'>

In [17]:
items = r['response']['body']['items']['item']
items

[{'analdate': '2022-04-02 16',
  'area': '      60,571',
  'd1': 0,
  'd2': 12,
  'd3': 88,
  'd4': 0,
  'doname': '서울특별시',
  'maxi': 94,
  'meanavg': 74,
  'mini': 8,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-02 21',
  'area': '      60,571',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '서울특별시',
  'maxi': 44,
  'meanavg': 24,
  'mini': 13,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-03 00',
  'area': '      60,571',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '서울특별시',
  'maxi': 44,
  'meanavg': 23,
  'mini': 13,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-03 03',
  'area': '      60,571',
  'd1': 95,
  'd2': 5,
  'd3': 0,
  'd4': 0,
  'doname': '서울특별시',
  'maxi': 58,
  'meanavg': 38,
  'mini': 20,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-03 06',
  'area': '      60,571',
  'd1': 0,
  'd2': 61,
  'd3': 37,
  'd4': 1,
  'doname': '서울특별시',
  'maxi': 93,
  'meanavg': 65,
  'mini': 48,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-03 21',
  'area': '      60,571',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '서울특별시',
  'maxi': 44,
  'meanavg': 23,
  'mini': 13,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-04 00',
  'area': '      60,571',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '서울특별시',
  'maxi': 37,
  'meanavg': 23,
  'mini': 13,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-04 03',
  'area': '      60,571',
  'd1': 96,
  'd2': 4,
  'd3': 0,
  'd4': 0,
  'doname': '서울특별시',
  'maxi': 65,
  'meanavg': 34,
  'mini': 13,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-04 06',
  'area': '      60,571',
  'd1': 0,
  'd2': 27,
  'd3': 70,
  'd4': 3,
  'doname': '서울특별시',
  'maxi': 93,
  'meanavg': 70,
  'mini': 53,
  'regioncode': 11,
  'std': 5},
 {'analdate': '2022-04-02 16',
  'area': '      76,757',
  'd1': 56,
  'd2': 44,
  'd3': 0,
  'd4': 0,
  'doname': '부산광역시',
  'maxi': 79,
  'meanavg': 54,
  'mini': 8,
  'regioncode': 26,
  'std': 7},
 {'analdate': '2022-04-02 21',
  'area': '      76,757',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '부산광역시',
  'maxi': 51,
  'meanavg': 26,
  'mini': 13,
  'regioncode': 26,
  'std': 7},
 {'analdate': '2022-04-03 00',
  'area': '      76,757',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '부산광역시',
  'maxi': 44,
  'meanavg': 25,
  'mini': 13,
  'regioncode': 26,
  'std': 6},
 {'analdate': '2022-04-03 03',
  'area': '      76,757',
  'd1': 52,
  'd2': 41,
  'd3': 7,
  'd4': 0,
  'doname': '부산광역시',
  'maxi': 79,
  'meanavg': 51,
  'mini': 27,
  'regioncode': 26,
  'std': 7},
 {'analdate': '2022-04-03 06',
  'area': '      76,757',
  'd1': 0,
  'd2': 18,
  'd3': 77,
  'd4': 5,
  'doname': '부산광역시',
  'maxi': 93,
  'meanavg': 73,
  'mini': 51,
  'regioncode': 26,
  'std': 7},
 {'analdate': '2022-04-03 21',
  'area': '      76,757',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '부산광역시',
  'maxi': 44,
  'meanavg': 25,
  'mini': 13,
  'regioncode': 26,
  'std': 6},
 {'analdate': '2022-04-04 00',
  'area': '      76,757',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '부산광역시',
  'maxi': 37,
  'meanavg': 24,
  'mini': 13,
  'regioncode': 26,
  'std': 6},
 {'analdate': '2022-04-04 03',
  'area': '      76,757',
  'd1': 70,
  'd2': 28,
  'd3': 2,
  'd4': 0,
  'doname': '부산광역시',
  'maxi': 72,
  'meanavg': 46,
  'mini': 27,
  'regioncode': 26,
  'std': 6},
 {'analdate': '2022-04-04 06',
  'area': '      76,757',
  'd1': 0,
  'd2': 16,
  'd3': 75,
  'd4': 8,
  'doname': '부산광역시',
  'maxi': 93,
  'meanavg': 74,
  'mini': 50,
  'regioncode': 26,
  'std': 7},
 {'analdate': '2022-04-02 16',
  'area': '   1,016,147',
  'd1': 6,
  'd2': 29,
  'd3': 65,
  'd4': 0,
  'doname': '경기도',
  'maxi': 100,
  'meanavg': 72,
  'mini': 6,
  'regioncode': 41,
  'std': 7},
 {'analdate': '2022-04-02 21',
  'area': '   1,016,147',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '경기도',
  'maxi': 44,
  'meanavg': 22,
  'mini': 12,
  'regioncode': 41,
  'std': 5},
 {'analdate': '2022-04-03 00',
  'area': '   1,016,147',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '경기도',
  'maxi': 44,
  'meanavg': 22,
  'mini': 12,
  'regioncode': 41,
  'std': 5},
 {'analdate': '2022-04-03 03',
  'area': '   1,016,147',
  'd1': 99,
  'd2': 1,
  'd3': 0,
  'd4': 0,
  'doname': '경기도',
  'maxi': 65,
  'meanavg': 29,
  'mini': 12,
  'regioncode': 41,
  'std': 6},
 {'analdate': '2022-04-03 06',
  'area': '   1,016,147',
  'd1': 6,
  'd2': 66,
  'd3': 28,
  'd4': 0,
  'doname': '경기도',
  'maxi': 93,
  'meanavg': 61,
  'mini': 18,
  'regioncode': 41,
  'std': 6},
 {'analdate': '2022-04-03 21',
  'area': '   1,016,147',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '경기도',
  'maxi': 44,
  'meanavg': 22,
  'mini': 12,
  'regioncode': 41,
  'std': 5},
 {'analdate': '2022-04-04 00',
  'area': '   1,016,147',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '경기도',
  'maxi': 37,
  'meanavg': 22,
  'mini': 12,
  'regioncode': 41,
  'std': 5},
 {'analdate': '2022-04-04 03',
  'area': '   1,016,147',
  'd1': 100,
  'd2': 0,
  'd3': 0,
  'd4': 0,
  'doname': '경기도',
  'maxi': 58,
  'meanavg': 27,
  'mini': 12,
  'regioncode': 41,
  'std': 6},
 {'analdate': '2022-04-04 06',
  'area': '   1,016,147',
  'd1': 3,
  'd2': 47,
  'd3': 49,
  'd4': 1,
  'doname': '경기도',
  'maxi': 93,
  'meanavg': 66,
  'mini': 18,
  'regioncode': 41,
  'std': 6}]

items는 list로 되어있음!!

In [18]:
import pandas as pd

items = r['response']['body']['items']['item']

analdate = [item['analdate'] for item in items]
doname = [item['doname'] for item in items]
d1 = [item['d1'] for item in items]
d2 = [item['d2'] for item in items]
d3 = [item['d3'] for item in items]
d4 = [item['d4'] for item in items]
meanavg = [item['meanavg'] for item in items]

analdate = pd.Series(analdate)
doname = pd.Series(doname)
d1 = pd.Series(d1)
d2 = pd.Series(d2)
d3 = pd.Series(d3)
d4 = pd.Series(d4)
meanavg = pd.Series(meanavg)

df = pd.DataFrame({'doname' : doname, 'analdate' : analdate, 'd1' : d1, 'd2' : d2, 'd3' : d3, 'd4' : d4, 'meanavg' : meanavg})

doname : 산불위험지역 시도 명칭
analdate : 데이터기준일자
d1 : 산불위험예보지수 낮음
d2 : 산불위험예보지수 다소높음
d3:  산불위험예보지수 높음
d4:  산불위험예보지수 매우높음
meanavg : 산불위험예보지수 평균

In [19]:
df

   doname       analdate   d1  d2  d3  d4  meanavg
0   서울특별시  2022-04-02 16    0  12  88   0       74
1   서울특별시  2022-04-02 21  100   0   0   0       24
2   서울특별시  2022-04-03 00  100   0   0   0       23
3   서울특별시  2022-04-03 03   95   5   0   0       38
4   서울특별시  2022-04-03 06    0  61  37   1       65
5   서울특별시  2022-04-03 21  100   0   0   0       23
6   서울특별시  2022-04-04 00  100   0   0   0       23
7   서울특별시  2022-04-04 03   96   4   0   0       34
8   서울특별시  2022-04-04 06    0  27  70   3       70
9   부산광역시  2022-04-02 16   56  44   0   0       54
10  부산광역시  2022-04-02 21  100   0   0   0       26
11  부산광역시  2022-04-03 00  100   0   0   0       25
12  부산광역시  2022-04-03 03   52  41   7   0       51
13  부산광역시  2022-04-03 06    0  18  77   5       73
14  부산광역시  2022-04-03 21  100   0   0   0       25
15  부산광역시  2022-04-04 00  100   0   0   0       24
16  부산광역시  2022-04-04 03   70  28   2   0       46
17  부산광역시  2022-04-04 06    0  16  75   8       74
18    경기도  2022-04-02 16    6  29  65   0       72
19    경기도  2022-04-02 21  100   0   0   0       22
20    경기도  2022-04-03 00  100   0   0   0       22
21    경기도  2022-04-03 03   99   1   0   0       29
22    경기도  2022-04-03 06    6  66  28   0       61
23    경기도  2022-04-03 21  100   0   0   0       22
24    경기도  2022-04-04 00  100   0   0   0       22
25    경기도  2022-04-04 03  100   0   0   0       27
26    경기도  2022-04-04 06    3  47  49   1       66

In [20]:
def test(doname):
  URL = ('http://apis.data.go.kr/1400377/forestPoint/'
      'forestPointListSidoSearch?'
      'serviceKey=INgUFCPLVXKA1R1IoOaejy9GNI%2BuFuWNZPPInGnjgr2XQQYmmq09MvpkvnykS3Hp5pd1TD1ysdH%2F1M5k9GghmQ%3D%3D'
      '&numOfRows=10'
      '&pageNo=1'
      '&doname='+doname+
      '&excludeForecast=0'
      '&_type=json')

  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']['item']

  doname = [item['doname'] for item in items]
  analdate = [item['analdate'] for item in items]
  d1 = [item['d1'] for item in items]
  d2 = [item['d2'] for item in items]
  d3 = [item['d3'] for item in items]
  d4 = [item['d4'] for item in items]
  meanavg = [item['meanavg'] for item in items]

  doname = pd.Series(doname)
  analdate = pd.Series(analdate)
  d1 = pd.Series(d1)
  d2 = pd.Series(d2)
  d3 = pd.Series(d3)
  d4 = pd.Series(d4)
  meanavg = pd.Series(meanavg)

  df = pd.DataFrame({'doname' : doname, 'analdate' : analdate, 'd1' : d1, 'd2' : d2, 'd3' : d3, 'd4' : d4, 'meanavg' : meanavg})
  return df

In [ ]:
iface = gd.Interface(test, gd.inputs.Dropdown(['서울특별시', '부산광역시','대구광역시','경기도','강원도','대전광역시','인천광역시','광주광역시','울산광역시','세종특별자치시','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://44932.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)